body{
    background:#f9cad3;
}
.quiz-question{
    border: 1px solid brown;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #e5a7af;


}
.time{
    font-size: 24px;
    
}
.quiz-question p {
    color: black;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    border-bottom: 1px solid black;
    
}
.quiz-question input{
    margin-bottom: 5px;
}